:root {
  --primary: #13A3EF;
  --text_primary: #22242C;
  --text_secondary: #9A9A9A;
  --text_contrast: #ffffff;
  --text_accent: #13A3EF;
  --link-color: #005CB6;
  --input-color_active: #E9E9E9;
  --border-color: #BEBEBE;
  --block-background: #ffffff;
  --input-background: #F9F9F9;
  --alarm: #F84343;
  --success: green;
  --checkbox: #216AB1;
  --table_odd: #ECF6FC;
  --table_even: #ffffff;
  --due-label: #FF9A3D;
}

.header-first__wrapper {
  width: 100%;
  height: 29px;
  background: #F0F0F0;
}

.header-first__left-nav {
  display: none;
}

.header-first__right-nav {
  flex-flow: row-reverse nowrap;
  justify-content: center;
  width: 100%;
}

.header-first__right-nav-title_mobile-hidden {
  display: none;
}

.header-first__right-nav-link {
  font-weight: bold;
  margin: 0 12px 0 0;
  color: var(--text_primary);
}

.header-second__wrapper {
  height: 56px;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 12px;
}

.header_default {
  position: sticky;
  top: -29px;
  z-index: 600;
  background: var(--block-background);
}

.header_scrolled {
  position: sticky;
  top: 0;
  z-index: 900;
  background: #ffffff;
  transform: translateY(0);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: all .3s;
}

.header_scrolled.hidden-top {
  transform: translateY(-250px);
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.header-second__menu-button {
  border: none;
  background: transparent;
  outline: none;
  margin: 0 15px 0 0;
  transition: all .125s;
}

.header-second__menu-button * {
  pointer-events: none;
}

.header-second__menu-button.active {
  transform: rotate(90deg);
}

.mobile-menu__list {
  position: absolute;
  left: 12px;
  width: calc(100vw - 24px);
  max-width: 400px;
  background: #ffffff;
  padding: 16px;
  top: 70px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  z-index: 400;
  display: none;
}

.mobile-menu__list.active {
  display: flex;
  flex-flow: column nowrap;
}

.mobile-menu__list-item {
  margin: 0 0 16px 0;
}

.header-third__wrapper {
  position: relative;
}

.mobile-header-nav {
  position: fixed;
  top: 140px;
  width: calc(100vw - 24px);
  max-width: 400px;
  max-height: 70vh;
  overflow-y: auto;
  left: 12px;
  background: #ffffff;
  padding: 12px;
  z-index: 400;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  display: none;
}

.mobile-header-nav.active {
  display: flex;
  flex-flow: column nowrap;
}

.mobile-header-nav__item {
  padding: 12px 0;
}

.mobile-header-nav__link {
  display: flex;
  align-items: center;
}

.mobile-header-nav__link.nested-contains.expanded {
  font-weight: bold;
}

.mobile-header-nav__link.nested-contains.expanded::before {
  content: url("/img/svg/arrow_left-mobile-menu.svg");
  display: block;
  margin: 0 17px 0 0;
}

.mobile-header-nav__link.nested-contains::after {
  content: url("/img/svg/arrow_right-mobile-menu.svg");
  display: block;
  margin: 0 0 0 17px;
}

.mobile-header-nav__link.nested-contains::before {
  display: none;
}

.mobile-header-nav__nested-list {
  display: none;
}

.mobile-header-nav__nested-list.active {
  display: flex;
  flex-flow: column nowrap;
}

.mobile-header-nav__nested-list-item {
  padding: 12px 0;
}

.header-second__logo-link {
  width: 120px;
}

.header-second__logo-image {
  width: 100%;
  height: auto;
}

.header-second__right-nav-button {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  margin: 0 12px;
  position: relative;
}

.header-second__right-nav-button-label {
  position: absolute;
  right: -16px;
  top: -8px;
  background: var(--primary);
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
}

.header-third__catalog-trigger-button {
  border-radius: 0;
  border: none;
  color: #ffffff;
  background: var(--link-color);
  text-transform: uppercase;
  justify-content: flex-start;
  padding: 0 10px;
  position: relative;
}

.header-second__right-nav-button-title {
  display: none;
}

.hidden_mobile {
  display: none;
}

.trigger__burger {
  width: 18px;
  height: 18px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0 8px 0 0;
  transition: all .3s;
}

.trigger__arrow {
  position: absolute;
  right: 12px;
  transition: all .3s;
}

.header-second__left-wrapper {
  flex: 0 1 20%;
}

.t {
  flex: 0 1 80%;
  justify-content: flex-end;
}

.header-second__search-form.active {
  width: 71%;
  padding: 0;
  margin-right: 20px;
}

.header-third__wrapper.active {
  z-index: -1;
}

.header-third__wrapper-t.active {
  z-index: -1;
}

.search-form__label.active {
  border: 1px solid #D0D0D0;
}

.search-form__label.active .input_search {
  border: none;
}

.search-form__label.active .search-button {
  padding-right: 16px;
}

.sh-rel {
  position: relative;
}

.block {
  display: none;
}

.block-sm.active {
  top: 0;
  left: 0;
  height: 400px;
  overflow-y: scroll;
}

.block-sh.active {
  top: 0;
  left: 0;
  height: 400px;
  overflow-y: scroll;
}

.block.active {
  display: block;
  position: absolute;
  z-index: 100;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
}

.block.active .block__category {
  background: #F4F4F4;
  padding: 21px 36px;
}

.block.active .block__category h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.block.active .block__category li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #D5D5D5;
}

.block.active .block__category li:last-child {
  border-bottom: none;
  margin: 0;
  padding: 0;
}

.block.active .block__items {
  padding: 21px 36px;
  background-color: #fff;
}

.block.active .block__items h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.block.active .block__items a {
  color: #005CB6;
}

.block.active .block__item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D5D5D5;
  display: flex;
}

.block.active .block__img {
  flex-shrink: 0;
  margin-right: 40px;
}

.block.active .block__body p {
  font-size: 18px;
  line-height: 20px;
  color: #005CB6;
}

.product-card {
  position: relative;
  width: 100%;
  padding: 20px;
  background: var(--block-background);
  border-top: 1px solid var(--border-color);
}

.product-card__image-wrapper {
  width: 100%;
  height: 242px;
  overflow: hidden;
  position: relative;
}

.product-card__image {
  width: 100%;
  height: auto;
  transition: all .3s ease-in-out;
}

.product-card__product-link {
  margin: 14px 0 18px 0;
}

.product-card__product-link:hover {
  text-decoration: underline;
}

.product-card__buttons-wrapper {
  position: relative;
}

.product-card__buttons-wrapper .button {
  color: #ffffff;
}

.product-card__buttons-wrapper .button.added {
  border-color: transparent;
  background: #E9E9E9;
  color: var(--text_primary);
}

.button_to-basket-null {
  color: var(--text_primary) !important;
}

.product-card__feature-wrapper {
  padding: 0 0 8px 0;
}

.product-card__feature-wrapper *:first-child {
  margin: 0 4px 0 0;
}

.product-card__price-wrapper {
  padding: 22px 0 15px 0;
}

.product-card__old-price {
  margin: 0 0 0 8px;
}

.button_compare {
  width: 53px;
}

.button_favorite {
  width: 53px;
}

.button_to-basket {
  width: calc(100% - 120px);
}

.product-card__footer-wrapper {
  width: 100%;
  position: absolute;
  height: 68px;
  bottom: -80px;
  left: 0;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: all .125s ease-in-out;
  transition-delay: .1s;
  background: var(--block-background);
}

.product-card__footer-wrapper::before {
  content: '';
  display: block;
  background: var(--block-background);
  width: 100%;
  height: 40px;
  position: absolute;
  z-index: 300;
  top: -20px;
}

.product-card__footer-wrapper::after {
  content: '';
  display: block;
  width: calc(100% - 32px);
  height: 1px;
  background: var(--border-color);
  position: absolute;
  top: 0;
  left: 16px;
  z-index: 400;
}

.product-card__one-click-button {
  color: var(--link-color);
}

.product-card__labels-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  flex-flow: row nowrap;
  padding: 8px 12px 0 12px;
  z-index: 100;
}

.new-label {
  width: 30px;
}

.offer-label {
  background: var(--alarm);
  color: #ffffff;
  padding: 4px 8px;
  font-size: 13px;
}

.hit-label {
  background: var(--link-color);
  color: #ffffff;
  padding: 4px 8px;
  font-size: 13px;
  margin: 0 0 0 8px;
}

.cart-tooltip {
  background: #ffffff;
  width: 308px;
  padding: 19px 23px;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -160px;
  right: 0;
}

.cart-tooltip::after {
  content: '';
  display: block;
  position: absolute;
  right: 12px;
  bottom: -12px;
  background: white;
  transform: rotate(45deg);
  width: 24px;
  height: 24px;
}

.cart-tooltip__icon {
  margin: 0 8px 0 0;
  width: 24px;
  height: 24px;
}

.cart-tooltip__title {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary);
}

.cart-tooltip__product-title {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  margin: 12px 0;
}

.cart-tooltip__link {
  text-transform: uppercase;
}

.offer-card {
  width: 100%;
  height: auto;
  border: 1px solid var(--border-color);
  position: relative;
  overflow: hidden;
}

.offer-card__due-label {
  position: absolute;
  left: 14px;
  top: 13px;
  padding: 4px 15px;
  background: var(--due-label);
  color: var(--text_contrast);
  font-size: 12px;
  font-weight: 500;
  z-index: 300;
  display: flex;
  align-items: center;
}

.offer-card__due-icon {
  margin: 0 8px 0 0;
}

.offer-card__image-wrapper {
  height: 295px;
  overflow: hidden;
}

.offer-card__image {
  height: 100%;
  width: auto;
  transition: all .3s ease-in-out;
}

.offer-card__info-wrapper {
  padding: 24px 10px 16px 18px;
}

.offer-card__title {
  font-size: 20px;
  color: var(--text_primary);
  margin: 0 0 16px 0;
}

.offer-card__description {
  line-height: 24px;
}

.advertising-banner {
  flex-flow: column nowrap;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 32px 24px;
}

.advertising-banner__image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: auto;
  height: 100%;
}

.advertising-banner__title {
  position: relative;
  z-index: 100;
  color: var(--text_contrast);
  text-align: center;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.advertising-banner__button {
  width: 100%;
  background: var(--block-background);
  position: relative;
  z-index: 100;
  border-radius: 50px;
  margin: 64px 0 0 0;
}

.advertising-banner2 {
  background-image: url("../img/marketing-offer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px;
}

.advertising-banner2-grid {
  grid-area: banner;
}

.article-card {
  flex-flow: column nowrap;
  border: 1px solid var(--border-color);
}

.article-card__image-wrapper {
  height: 204px;
  overflow: hidden;
}

.article-card__image {
  width: 100%;
  height: auto;
  transition: all .3s ease-in-out;
}

.article-card__info-wrapper {
  padding: 14px 13px 21px 20px;
}

.article-card__title {
  color: var(--text_primary);
  margin: 0 0 8px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.article-card__description {
  line-height: 24px;
  font-size: 16px;
}

.article-card__date {
  margin: 12px 0 0 0;
  display: flex;
  align-items: center;
}

.date-calendar {
  margin: 0 8px 0 0;
  transform: translateY(-1px);
}

.pagination {
  padding: 12px 0;
}

.pagination-link {
  text-decoration: underline !important;
}

.pagination-list__button {
  border: none;
  background: transparent;
}

.pagination__list-item {
  padding: 0 6px;
}

.pagination__link {
  color: var(--text_primary);
  font-weight: bold;
}

.pagination__link_active {
  color: var(--text_secondary);
}

.footer__list-item {
  display: none;
}

.footer__list-item_header {
  display: block;
  margin: 0 0 7px 0;
}

.footer__contacts-wrapper {
  padding: 24px 0;
  border-top: 1px solid var(--border-color);
  margin: 24px 0 0 0;
}

.footer__contact-item-icon {
  margin: 0 8px 0 0;
}

.footer__contact-item:last-child {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.footer__social-wrapper {
  padding: 12px 0 24px 0;
}

.footer__copy {
  background: #F0F0F0;
  padding: 12px;
  flex-flow: column nowrap;
  align-items: center;
}

.footer__copy * {
  color: #5F5F5F;
  font-size: 12px;
}

.footer__logo {
  display: none;
}

.footer__social-list-icon {
  width: 24px;
  height: 24px;
}

.coocie {
  position: fixed;
  bottom: 0;
  z-index: 800;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}

.coocie__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
}

.coocie__wrap .button {
  text-transform: uppercase;
  border: 1px solid #000;
  width: 60px;
}

.back2Top {
  width: 67px;
  height: 67px;
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 100px;
  right: -35px;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid #216AB1;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}

.back2Top.show {
  opacity: 1;
  visibility: visible;
  right: 35px;
}

.banners__slider {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.banners-slider__button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: calc(50% - 25px);
  background: var(--block-background);
  z-index: 100;
}

.banners-slider__button * {
  pointer-events: none;
}

.banners-slider__button_prev {
  left: -25px;
  padding: 0 0 0 16px;
}

.banners-slider__button_next {
  right: -25px;
  padding: 0 16px 0 0;
}

.banners-row {
  width: auto;
  height: 100%;
}

.banner__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.banner__image {
  width: auto;
  height: 300px;
}

.static-banners__wrapper {
  width: 100%;
}

.static-banner__wrapper {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  margin: 24px 0 0 0;
}

.static-banner__img {
  width: 100%;
  height: auto;
}

.banner__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
}

.custom-offer__wrapper {
  width: 100%;
  height: 135px;
  background: var(--block-background);
  padding: 20px 40px 20px 20px;
  position: relative;
}

.custom-offer__image-wrapper {
  width: 40px;
  height: 40px;
}

.custom-offer__image {
  width: 100%;
}

.custom-offer__info-wrapper {
  width: calc(100% - 60px);
  padding: 0 12px;
}

.custom-offer__description {
  margin: 8px 0 0 0;
}

.custom-offer__arrow-wrapper {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
}

.offers__wrapper {
  width: 100%;
}

.offer-card {
  margin: 0 0 32px 0;
}

.popular-categories__wrapper {
  display: block;
}

.popular-category__wrapper {
  width: 100%;
  height: 200px;
  position: relative;
  padding: 36px;
  margin: 0 0 16px 0;
}

.popular-category__link {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.popular-category__filter {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.popular-category__title {
  z-index: 100;
  width: 60%;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.popular-category__image {
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 60%;
  height: auto;
  z-index: 100;
}

.best-products__tabs-header {
  flex-flow: row nowrap;
  overflow-x: auto;
}

.best-products__tabs-button {
  text-transform: uppercase;
  margin: 0 24px 0 0;
  border-bottom: 4px solid transparent;
  z-index: 100;
}

.best-products__tabs-button_popular {
  color: var(--link-color);
}

.best-products__tabs-button_popular.active {
  border-color: var(--link-color);
  font-weight: bold;
}

.best-products__tabs-button_sale {
  color: var(--alarm);
}

.best-products__tabs-button_sale.active {
  border-color: var(--alarm);
  font-weight: bold;
}

.best-products__tabs-button_new {
  color: var(--success);
}

.best-products__tabs-button_new.active {
  border-color: var(--success);
  font-weight: bold;
}

.best-products__tabs-button_all {
  color: var(--link-color);
  text-decoration: underline;
  position: relative;
}

.best-products__tabs-button_all::before {
  width: 1px;
  height: 20px;
  content: '';
  display: block;
  background: var(--border-color);
  position: absolute;
  left: -12px;
}

.tab-slider__wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.tab-slider__wrapper .swiper-container {
  width: 100%;
}

.tab-slider__wrapper.hidden {
  display: none;
}

.products-slider__controls-wrapper {
  width: 100%;
}

.section-title__video {
  display: flex;
  align-items: center;
}

.video-title__icon-wrapper {
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 6px solid #333333;
  margin: 0 21px 0 0;
}

.video-title__icon-wrapper-my object {
  position: relative;
  right: -1px;
}

.video-reviews-section {
  background: #F5F5F5;
}

.video-review__wrapper {
  width: 100%;
  height: 300px;
}

.video-review-card {
  position: relative;
  padding: 24px 0 0 0;
}

.video-review-card__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-review-card__image-wrapper {
  position: relative;
  width: 100%;
  height: 221px;
  overflow: hidden;
}

.video-review-card__play-button {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 6px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-review-card__title {
  margin: 12px 0;
}

.video-review-card__description {
  line-height: 24px;
}

.video-review-card__image {
  height: auto;
  width: 100%;
}

.all-reviews-button {
  margin: 24px 0 0 0;
  font-weight: bold;
  border-color: #000000;
}

.articles-section__header-link {
  margin: 0 0 24px 0;
  text-transform: uppercase;
  text-decoration: underline;
}

.article-card {
  margin: 0 0 32px 0;
}

.brands-slider {
  height: 84px;
}

.brand__wrapper {
  padding: 12px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
}

.brand__image {
  width: auto;
  height: 100%;
}

.brands__controls {
  display: flex;
}

.product-card {
  border: none;
}

.tab-slider__wrapper.hidden {
  display: none;
}

.tab-slider__wrapper {
  height: calc(100% - 100px);
}

.product-slider__controls {
  display: flex;
  flex-flow: row nowrap;
}

.best-products__tabs-button_sale span {
  margin: 0 4px 0 0;
}

@media screen and (min-width: 768px) {
  .container_header {
    max-width: 100vw;
  }

  .product-card {
    max-width: 360px;
  }

  .offer-card {
    max-width: 490px;
  }

  .article-card {
    flex-flow: row nowrap;
    transition: all .125s ease-in-out;
  }

  .article-card_column {
    flex-flow: column nowrap;
    max-width: 358px;
  }

  .article-card:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  }

  .article-card:hover .article-card__image {
    transform: scale(1.05);
  }

  .article-card__title:hover {
    color: var(--link-color);
    text-decoration: underline;
  }

  .pagination__list-item {
    padding: 0 12px;
  }

  .footer {
    justify-content: space-between;
  }

  .footer__contacts-wrapper {
    padding: 0;
    margin: 0;
    width: 50%;
    border: none;
  }

  .banners-row {
    width: 100%;
  }

  .banner__wrapper {
    width: 100%;
  }

  .banner__image {
    width: 100%;
    height: auto;
  }

  .static-banners__wrapper {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .static-banner__wrapper {
    width: calc(50% - 12px);
  }

  .static-banner__image {
    height: 100%;
    width: auto;
  }

  .custom-offers__wrapper {
    flex-wrap: nowrap;
  }

  .custom-offer__wrapper {
    width: calc(50% - 12px);
  }

  .offer-card {
    width: calc(33% - 6px);
  }

  .popular-categories__wrapper {
    display: grid;
    grid-template-areas: 'a a';
    gap: 24px;
  }

  .popular-category__wrapper {
    margin: 0;
  }

  .best-products__header {
    flex-flow: column;
    align-items: flex-start;
  }

  .best-products__tabs-header {
    width: 100%;
  }

  .articles__wrapper {
    flex-wrap: nowrap;
  }

  .article-card {
    flex-flow: column nowrap;
    width: calc(50% - 12px);
  }

  .video-reviews-cards__wrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .video-review-card {
    width: calc(50% - 12px);
  }

  .brands-slider {
    flex-wrap: nowrap;
  }

  .brand__wrapper {
    width: 33%;
  }
}

@media screen and (min-width: 1025px) {
  .container_header {
    max-width: 1366px;
  }

  .container_catalog-drop {
    position: relative;
    padding: 0;
  }

  .header_default {
    position: relative;
  }

  .catalog-drop {
    display: flex;
    width: 100%;
    height: auto;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transform: translateY(16px);
    transition: all .3s ease-in-out;
    position: absolute;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    padding: 32px 12px;
    background: #ffffff;
  }

  .catalog-drop.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    z-index: 600;
  }

  .catalog-drop.active.fixed {
    position: fixed;
    top: 80px;
  }

  .catalog-drop__columns-wrapper {
    width: 100%;
  }

  .catalog-drop__column {
    width: 25%;
    padding: 0 12px;
  }

  .catalog-drop__category-wrapper {
    padding: 0 0 32px 0;
  }

  .catalog-drop__category-image-wrapper {
    min-width: 58px;
    min-height: 58px;
    max-width: 58px;
    max-height: 58px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .catalog-drop__category-image {
    width: 100%;
    height: auto;
  }

  .catalog-drop__list {
    padding: 0 0 0 16px;
  }

  .catalog-drop__list-link {
    margin: 0 0 4px 0;
    display: block;
  }

  .catalog-drop__list-link:hover {
    color: var(--primary);
  }

  .catalog-drop__list-link_expand {
    display: flex;
    align-items: center;
  }

  .catalog-drop__expand-value {
    text-decoration: underline;
  }

  .catalog-drop__expand-icon {
    margin: 0 0 0 8px;
  }

  .catalog-drop__list-link_header {
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 8px 0;
    display: block;
  }

  .header_default {
    position: relative;
    top: 0;
  }

  .header-first__wrapper {
    width: 100%;
  }

  .header-first__left-nav {
    display: flex;
    flex-flow: row nowrap;
    width: 60%;
    padding: 0 12px;
  }

  .header-first__left-nav-item {
    margin: 0 24px 0 0;
  }

  .header-first__left-nav-item:last-child {
    margin: 0;
  }

  .header-first__right-nav {
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 40%;
  }

  .header-first__right-nav-title_mobile-hidden {
    display: block;
    float: left;
  }

  .header-first__right-nav-link {
    display: block;
    margin: 0 0 0 8px;
  }

  .header-second__wrapper {
    height: 98px;
  }

  .header-second__menu-button {
    display: none;
  }

  .header-second__logo-link {
    width: 225px;
  }

  .header-second__right-nav-button {
    flex-flow: column nowrap;
    align-items: center;
    display: flex;
    margin: 0 72px 0 0;
    border-right: 1px solid var(--border-color);
    width: auto;
    padding: 0 24px 0 0;
  }

  .header-second__right-nav-button:nth-of-type(4) {
    margin: 0;
    border: none;
    padding: 0;
  }

  .header-second__right-nav-button-title {
    display: block;
    margin: 4px 0 0 0;
  }

  .hidden_desktop {
    display: none;
  }

  .header-second__search-form {
    display: block;
    padding: 0 24px 0 0;
    width: 311px;
  }

  .input_search {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border-color);
    background: transparent;
  }

  .search-button {
    border: none;
    background: transparent;
  }

  .header-third__wrapper {
    align-items: center;
    position: relative;
  }

  .header-third__nav {
    display: flex;
    flex-flow: row nowrap;
  }

  .header-third__catalog-trigger-button {
    width: 361px;
  }

  .header-third__catalog-trigger-button:hover .trigger__burger {
    transform: rotate(90deg);
  }

  .header-third__catalog-trigger-button:hover .trigger__arrow {
    transform: rotate(180deg);
  }

  .header-third__nav-list-link {
    display: block;
    width: auto;
    text-align: center;
    font-weight: bold;
  }

  .header-third__cart-button {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    float: right;
    position: absolute;
    right: 0;
  }

  .header-third__cart-label {
    margin: 0 4px;
    color: #ffffff;
    background: var(--primary);
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
  }

  .header_default {
    position: relative;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
  }

  .header_default::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 50px;
    background: #E6E6E6;
    position: absolute;
    z-index: -1;
  }

  .header-first__wrapper {
    width: 100%;
  }

  .header-first__left-nav {
    display: flex;
    flex-flow: row nowrap;
    width: 60%;
    padding: 0 12px;
  }

  .header-first__left-nav-item {
    margin: 0 24px 0 0;
  }

  .header-first__left-nav-item:last-child {
    margin: 0;
  }

  .header-first__right-nav {
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 40%;
  }

  .header-first__right-nav-title_mobile-hidden {
    display: block;
    float: left;
  }

  .header-first__right-nav-link {
    display: block;
    margin: 0 0 0 8px;
  }

  .header-second__wrapper {
    height: 98px;
  }

  .header-second__menu-button {
    display: none;
  }

  .header-second__logo-link {
    width: 225px;
  }

  .header-second__right-nav-button {
    flex-flow: column nowrap;
    align-items: center;
    display: flex;
    margin: 0 24px 0 0;
    border-right: 1px solid var(--border-color);
    width: auto;
    padding: 0 24px 0 0;
  }

  .header-second__right-nav-button:nth-of-type(4) {
    margin: 0;
    border: none;
    padding: 0;
  }

  .header-second__right-nav-button-title {
    display: block;
    margin: 4px 0 0 0;
  }

  .hidden_desktop {
    display: none;
  }

  .header-second__search-form {
    display: block;
    padding: 0 24px 0 0;
    position: relative;
  }

  .input_search {
    border: none;
    border-bottom: 1px solid var(--border-color);
    background: transparent;
  }

  .search-button {
    border: none;
    background: transparent;
  }

  .header-third__wrapper {
    align-items: center;
    position: relative;
  }

  .header-third__nav {
    display: flex;
    flex-flow: row nowrap;
  }

  .header-third__catalog-trigger-button {
    width: 361px;
  }

  .header-third__nav-list-item {
    margin: 0 42px 0 0;
  }

  .header-third__nav-list-item:first-child {
    margin: 0 42px;
  }

  .header-third__nav-list-link {
    display: block;
    width: auto;
    text-align: center;
    font-weight: bold;
  }

  .header-third__cart-button {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    float: right;
    position: absolute;
    right: 0;
  }

  .header-third__cart-label {
    margin: 0 4px;
    color: #ffffff;
    background: var(--primary);
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
  }

  .sh {
    padding: 24px 0;
  }

  .sh_left {
    width: 100%;
  }

  .sh__logo-link {
    width: 200px;
    margin: 0 48px 0 0;
  }

  .sh__catalog-button {
    max-width: 250px;
    width: 100%;
    background: var(--link-color);
    color: #ffffff;
    border: none;
    height: 54px;
    cursor: pointer;
  }

  .sh__search-form {
    padding: 0 0 0 32px;
  }

  .sh__search-input {
    border: none;
    border-bottom: 1px solid var(--border-color);
    margin: 0 12px 0 0;
  }

  .sh__search-button {
    border: none;
    background: transparent;
  }

  .sh__list {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  .sh__list-item {
    padding: 0 24px;
    border-right: 1px solid var(--border-color);
  }

  .sh__list-item:last-child {
    border: none;
    align-self: center;
  }

  .sh__list-button {
    border: none;
    background: transparent;
    position: relative;
    cursor: pointer;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sh__list-button-label {
    padding: 4px 12px;
    font-size: 12px;
    border-radius: 24px;
    position: absolute;
    color: var(--text_contrast);
    background: var(--link-color);
    right: 0;
    top: -8px;
  }

  .sh__list-button-icon {
    margin: 0 0 8px 0;
  }

  .sh_cart-button {
    border: none;
    background: none;
    height: 60px;
    padding: 12px;
    border-radius: 48px;
    cursor: pointer;
    transition: all .125s ease-in-out;
  }

  .sh_cart-button:hover {
    background: var(--input-color_active);
  }

  .sh_cart-label {
    background: var(--primary);
    padding: 4px 8px;
    color: var(--text_contrast);
    border-radius: 24px;
    margin: 0 8px;
  }

  .sh {
    padding: 24px 0;
  }

  .sh_left {
    width: 100%;
  }

  .sh__logo-link {
    width: 200px;
    margin: 0 48px 0 0;
  }

  .sh__catalog-button {
    max-width: 250px;
    width: 100%;
    background: var(--link-color);
    color: #ffffff;
    border: none;
    height: 54px;
  }

  .sh__search-form {
    padding: 0 0 0 32px;
  }

  .sh__search-input {
    border: none;
    border-bottom: 1px solid var(--border-color);
    margin: 0 12px 0 0;
  }

  .sh__search-button {
    border: none;
    background: transparent;
  }

  .sh__list {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  .sh__list-item {
    padding: 0 24px;
    border-right: 1px solid var(--border-color);
  }

  .sh__list-item:last-child {
    border: none;
    align-self: center;
  }

  .sh__list-button {
    border: none;
    background: transparent;
    position: relative;
  }

  .sh__list-button-label {
    padding: 4px 12px;
    font-size: 12px;
    border-radius: 24px;
    position: absolute;
    color: var(--text_contrast);
    background: var(--link-color);
    right: 0;
    top: -8px;
  }

  .sh__list-button-icon {
    margin: 0 0 8px 0;
  }

  .sh_cart-button {
    border: none;
    background: none;
  }

  .sh_cart-label {
    background: var(--primary);
    padding: 4px 8px;
    color: var(--text_contrast);
    border-radius: 24px;
    margin: 0 8px;
  }

  .product-card {
    transition: all .125s ease-in-out;
  }

  .product-card::before {
    width: 100%;
    height: 4px;
    display: block;
    content: '';
    background: var(--primary);
    position: absolute;
    top: -4px;
    left: 0;
    opacity: 0;
    transition: all .125s ease-in-out;
  }

  .product-card:hover {
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.25);
  }

  .product-card:hover::before {
    top: 0;
    opacity: 1;
  }

  .product-card:hover .product-card__image {
    transform: scale(1.05);
  }

  .product-card:hover .product-card__footer-wrapper {
    opacity: 1;
    bottom: -68px;
    z-index: 300;
    pointer-events: auto;
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.25);
  }

  .offer-card {
    transition: all .125s ease-in-out;
  }

  .offer-card:hover .offer-card__image {
    transform: scale(1.05);
    z-index: 1;
  }

  .advertising-banner {
    flex-flow: row nowrap;
  }

  .advertising-banner__image {
    width: 100%;
    height: auto;
  }

  .advertising-banner__title {
    max-width: 40%;
    text-align: left;
  }

  .advertising-banner__button {
    margin: 0;
    width: auto;
    min-width: 200px;
    font-weight: bold;
  }

  .article-card__image-wrapper {
    width: 302px;
    height: 100%;
  }

  .article-card__info-wrapper {
    width: calc(100% - 302px);
  }

  .article-card_column .article-card__image-wrapper {
    width: 100%;
  }

  .article-card_column .article-card__info-wrapper {
    width: 100%;
  }

  .footer__lists-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }

  .footer__list:first-child {
    width: 180px;
  }

  .footer__list:last-child {
    width: 300px;
  }

  .footer__list-item {
    display: block;
    color: var(--text_secondary);
    margin: 0 0 4px 0;
  }

  .footer__copy {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .banners__wrapper {
    justify-content: space-between;
  }

  .banners__slider {
    width: calc(100% - 430px);
    height: 540px;
  }

  .banner__image {
    height: 100%;
    width: auto;
  }

  .static-banners__wrapper {
    flex-flow: column nowrap;
    width: 390px;
    justify-content: space-between;
  }

  .static-banner__wrapper {
    width: 100%;
    height: 245px;
    margin: 0;
  }

  .custom-offers__wrapper {
    padding: 0 0 59px 0;
  }

  .custom-offer__wrapper {
    transition: all .125s ease-in-out;
    border-radius: 5px;
  }

  .custom-offer__wrapper:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .custom-offer__image-wrapper {
    width: 68px;
    height: 68px;
  }

  .custom-offer__info-wrapper {
    width: calc(100% - 80px);
  }

  .custom-offer__arrow-wrapper {
    right: 52px;
  }

  .popular-categories__wrapper {
    grid-template-areas: 'a a a a';
    grid-auto-columns: 1fr 1fr 1fr 1fr;
  }

  .popular-category__image {
    transition: all .3s ease-in-out;
  }

  .popular-category__wrapper {
    height: 235px;
    overflow: hidden;
  }

  .popular-category__wrapper:hover {
    cursor: pointer;
    overflow: hidden;
  }

  .popular-category__wrapper:hover .popular-category__image {
    transform: scale(1.05);
  }

  .best-products__header {
    flex-flow: row nowrap;
    position: relative;
  }

  .best-products__header::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--border-color);
    position: absolute;
    left: 0;
    bottom: 22px;
    z-index: 1;
  }

  .article-card {
    flex-flow: row nowrap;
  }

  .video-reviews__wrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .video-review__wrapper {
    width: calc(50% - 20px);
    height: 430px;
  }

  .video-reviews-control__wrapper {
    width: calc(50% - 20px);
  }

  .video-review-card {
    padding: 0;
  }

  .best-products__tabs-header {
    width: 45%;
  }

  .product-card {
    width: 25%;
  }

  .tab-slider__wrapper {
    position: relative;
    height: 100%;
  }

  .tab-slider__wrapper .swiper-wrapper {
    height: 90%;
  }

  .product-slider__controls {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    z-index: 500;
  }

  .products-slider__control-button {
    width: 50px;
    height: 50px;
  }

  .products-slider__control-button.prev {
    transform: translateX(-32px);
  }

  .products-slider__control-button.next {
    transform: translateX(32px);
  }

  .brands__wrapper {
    position: relative;
  }

  .brands__controls {
    position: absolute;
    width: 100%;
    top: 20%;
    display: flex;
    justify-content: space-between;
    z-index: 500;
  }

  .brands-controls__button {
    width: 50px;
    height: 50px;
  }

  .brands-controls__button_prev {
    transform: translateX(-40px);
  }

  .brands-controls__button_next {
    transform: translateX(40px);
  }
}

@media screen and (min-width: 1200px) {
  .footer__lists-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
  }

  .footer__list-item {
    margin: 0 0 12px 0;
  }

  .footer__list:first-child {
    width: 150px;
  }

  .footer__list:last-child {
    width: 350px;
    padding: 0 0 0 32px;
  }
}

@media screen and (min-width: 1366px) {
  .sh {
    flex-flow: row nowrap;
    padding: 0 12px;
  }

  .sh_left {
    width: 60%;
  }

  .sh__logo-link {
    width: 150px;
  }

  .sh__catalog-button {
    width: 200px;
    margin: 0 24px 0 48px;
  }

  .sh_right {
    width: 40%;
    justify-content: flex-end;
  }

  .sh__list {
    transform: scale(0.8);
  }

  .sh {
    flex-flow: row nowrap;
    padding: 0 12px;
  }

  .sh_left {
    width: 60%;
  }

  .sh__logo-link {
    width: 150px;
  }

  .sh__catalog-button {
    width: 200px;
    margin: 0 24px 0 48px;
  }

  .sh_right {
    width: 40%;
    justify-content: flex-end;
  }

  .sh__list {
    transform: scale(0.8);
  }

  footer {
    border-top: 1px solid var(--border-color);
    padding: 32px 0 0 0;
  }

  .footer {
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer__social-wrapper {
    order: 1;
    width: 210px;
    align-items: flex-start;
  }

  .footer__lists-wrapper {
    order: 2;
    width: calc(100% - 600px);
  }

  .footer__contacts-wrapper {
    order: 3;
    width: 300px;
  }

  .footer__logo {
    display: block;
  }

  .banners__slider {
    width: calc(100% - 520px);
  }

  .static-banners__wrapper {
    width: 490px;
  }

  .container {
    max-width: 1600px;
  }

  .product-card {
    width: 20%;
  }
}

@media screen and (min-width: 1440px) {
  .sh__list {
    transform: scale(1);
  }

  .sh__list-item:last-child {
    padding: 0 0 0 24px;
  }

  .sh__list {
    transform: scale(1);
  }

  .sh__list-item:last-child {
    padding: 0 0 0 24px;
  }
}

@media screen and (max-width: 1400px) {
  .header-second__search-form.active {
    width: 61%;
  }
}

@media screen and (max-width: 1100px) {
  .header-second__search-form.active {
    width: 51%;
  }

  .block__item {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .container_catalog-drop {
    display: none;
  }

  .header_scrolled {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .block.active .block__category {
    background: #F4F4F4;
    padding: 15px;
  }

  .block.active .block__category h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .block.active .block__category li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D5D5D5;
  }

  .block.active .block__category li:last-child {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }

  .block.active .block__items {
    padding: 15px;
    background-color: #fff;
  }

  .block.active .block__items h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .block.active .block__items a {
    color: #005CB6;
  }

  .block.active .block__item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D5D5D5;
    display: flex;
  }

  .block.active .block__img {
    flex-shrink: 0;
    margin-right: 0px;
  }

  .block.active .block__body p {
    font-size: 16px;
    line-height: 20px;
    color: #005CB6;
  }
}

@media screen and (max-width: 576px) {
  .advertising-banner2 {
    padding: 75px 20px;
  }
}
/*# sourceMappingURL=maps/main-page.css.map */
